<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <h1 style ="color:#FF4500; font-size:48px">Конвертер валют</h1>
</head>
<body>
<form action="" method="post">
    <input type="text" name="num_1">
    <h3> Перевод рублей:</h3>
    <form name="myForm" action="" method="post" onsubmit=""><br>
    <input type="radio" name="options" id="option1" value="1"> Доллар </input><br>
    <input type="radio" name="options" id="option2" value="2"> Евро </input><br>

    <h3> Перевод в рубли:</h3>
    <input type="radio" name="options" id="option3" value="3"> Доллар </input><br>
    <input type="radio" name="options" id="option4" value="4"> Евро </input><br>



    <input type="submit">
</form>
    <h1>{{ans}}</h1>
</body>
</html>